@font-face {
  font-family: 'coconutPunch';
  src: url('../fonts/Coconut\ Punch\ DEMO.otf') ;
  font-weight: normal;
  font-style: normal;

}

body {
  background-color: #FFEFBA;
  font-family: 'coconutPunch';
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
  color:  rgb(1, 138, 131);
  text-align: center;
}

h1 {
  margin-top: 10px;
  color: #f5bf5bd3;
}

.title {
  font-size: 2em;

}

.lead {
  font-size: 1.5em;
}

H5 {
  color: #f5bf5bd3;
}

.describ {
  margin-right: 1.5em;
  margin-top: 1.5em;
  font-size: 30px;
  justify-content: center;
  text-align: justify;
  
}

.orange {
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
  color: orange;
}


.prez {
  margin-right: 1.5em;
  margin-top: 30px;
  font-size: 1.7em;
  justify-content: center;
  text-align: center;
  text-justify: inter-word;
}

.hand {
  margin-right: 1.5em;
  margin-top: 1.5em;
  font-size: 1.6em;
  justify-content: center;
  text-align: center;
  text-justify: inter-word;
}

.card {
  display: none;
}

#backToGame {
  border-radius: 100px;
  background:rgb(1, 138, 131);
  box-shadow: inset 5px 5px 16px rgb(1, 105, 100);
  border: 5px solid black;
  color:rgb(1, 138, 131);
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
  font-size: 20px;
  position: fixed;
  top: 45px;
  left: 25px;
  height: 45px;
  bottom: 30px;
}

#backToGame:hover {
  border-radius: 100px;
  box-shadow: 5px 5px 16px  rgb(1, 105, 100),
    -5px -5px 16px  rgb(3, 136, 129);
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;

}
#backToGame:focus {
  outline: none;
} 



/* Media queries */
@media screen and (max-width : 865px) {
  .jumbotron>h1 {
    font-size: 0.5em;
  }

  h1 {
    margin-top: 100px;
  }

  .title {
    font-size: 1em;
  }

  .lead {
    font-size: 0.75em;
  }

  .describ {
    margin: 16PX;
    font-size: 20px;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
  }

  #sai,
  #pizza,
  #carapace {
    display: none;
  }

  .card {
    display: block;
  }

 

  img {
    margin-left: 90px;
    width: 150px;
    height: 150px;
  }


body {
    max-width: 100vw;
    overflow-x: hidden;
    height: auto;
}

}